<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог Трансформаторов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>KKS</th>
            <th>Тип</th>
            <th>Заводской номер</th>
        </tr>
        </thead>
        <tbody>
            <td th:text="${transformer.getKKS()}"/>
            <td th:text="${transformer.getType()}"/>
            <td th:text="${transformer.getFactoryNumber()}"/>
        </tbody>
    </table>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Мощность</th>
            <th>Напряжение ВН</th>
            <th>Напряжение СН</th>
            <th>Напряжение НН</th>
            <th>Ток ВН</th>
            <th>Ток СН</th>
            <th>Ток НН</th>
            <th>Частота сети</th>
            <th>Число фаз</th>
            <th>Схема и группа соединения</th>
            <th>Напряжение КЗ</th>
            <th>Потери КЗ</th>
            <th>Потери ХХ</th>
            <th>Ток ХХ</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${transformerCharacteristics.getPower()}"/>
        <td th:text="${transformerCharacteristics.getUpVoltage()}"/>
        <td th:text="${transformerCharacteristics.getMidleVoltage()}"/>
        <td th:text="${transformerCharacteristics.getDownVoltage()}"/>
        <td th:text="${transformerCharacteristics.getUpCurrent()}"/>
        <td th:text="${transformerCharacteristics.getMidleCurrent()}"/>
        <td th:text="${transformerCharacteristics.getDownCurrent()}"/>
        <td th:text="${transformerCharacteristics.getFrequency()}"/>
        <td th:text="${transformerCharacteristics.getNumberPhases()}"/>
        <td th:text="${transformerCharacteristics.getConnectionDiagram()}"/>
        <td th:text="${transformerCharacteristics.getShortCircuitVoltage()}"/>
        <td th:text="${transformerCharacteristics.getShortCircuitLoss()}"/>
        <td th:text="${transformerCharacteristics.getIdleLoss()}"/>
        <td th:text="${transformerCharacteristics.getNoLoadCurrent()}"/>
        </tbody>
    </table>

    <div class="col-sm-6 controls">
        <a th:href="@{/transformers/{transformerId}/chromatographic-oil-analyzes(transformerId=${transformer.getId()})}" class="btn btn-info btn-sm active"
           role="button" aria-pressed="true">Результаты измерения ХАРГ</a>
    </div>
    <br/>
    <div class="col-sm-6 controls">
        <a th:href="@{/transformers/{transformerId}/physical-chemical-oil-analyzes(transformerId=${transformer.getId()})}" class="btn btn-info btn-sm active"
           role="button" aria-pressed="true">Результаты измерения ФХА</a>
    </div>
    <br/>
    <div class="col-sm-6 controls">
        <a th:href="@{/transformers/{transformerId}/edit(transformerId=${transformer.getId()})}" class="btn btn-info btn-sm active"
           role="button" aria-pressed="true">Редактировать</a>
    </div>
        <br/>
    <div class="col-sm-6 controls">
        <form th:method="DELETE" th:action="@{/transformers/{transformerId}(transformerId=${transformer.getId()})}" class="form-horizontal">
            <input type="submit" value="Удалить" class="btn btn-info btn-sm active">
        </form>
    </div>
    <br/>
    <div class="col-sm-6 controls">
        <a th:href="@{/transformers}" class="btn btn-info btn-sm active"
           role="button" aria-pressed="true">Назад</a>
    </div>
</div>
</body>
</html>