<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог Трансформаторов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>KKS</th>
            <th>Тип</th>
            <th>Заводской номер</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transformer : ${transformers}">
            <td th:text="${transformer.getKKS()}"/>
            <td th:text="${transformer.getType()}"/>
            <td th:text="${transformer.getFactoryNumber()}"/>
            <td>
                <div class="col-sm-6 controls">
                    <a th:href="@{/v1/transformers/{transformerId}(transformerId=${transformer.getId()})}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Выбрать</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:text="${'Всего трансформаторов ' + transformers.size()}"/>
    <span text/>
    <br/><br/>

    <div class="col-sm-6 controls">
        <a href="/v1/transformers/add" class="btn btn-info btn-sm active"
           role="button" aria-pressed="true">Добавить новый трансформатор</a>
    </div>
</div>
</body>
</html>