<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>ФХА трансформаторного масла</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Температура вспышки</th>
            <th>Кислотное число</th>
            <th>Класс чистоты</th>
            <th>Влагосодержание</th>
            <th>Пробивное напряжние</th>
            <th>Тангенс угла диэлектрических потерь</th>
            <th>Номер протокола</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="analysis : ${analyzes}">
            <td th:text="${#calendars.format(analysis.getDateAnalysis(),'dd.MM.yyyy')}"/>
            <td th:text="${analysis.getFlashPoint()}"/>
            <td th:text="${analysis.getAcidNumber()}"/>
            <td th:text="${analysis.getCleanlinessClass()}"/>
            <td th:text="${analysis.getMoistureContent()}"/>
            <td th:text="${analysis.getBreakdownVoltage()}"/>
            <td th:text="${analysis.getDielectricLossTangent()}"/>
            <td th:text="${analysis.getProtocolName()}"/>
            <td>
                <div class="col-sm-6 controls">
                    <a th:href="@{/v1/transformers/{transformerId}/physical-chemical-oil-analyzes/{id}/edit(transformerId=${transformerId},id=${analysis.getId()})}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Изменить</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-sm-6 controls">
        <a th:href="@{/v1/transformers/{transformerId}/physical-chemical-oil-analyzes/add(transformerId=${transformerId})}" class="btn btn-info btn-sm active"
           role="button" aria-pressed="true">Добавить измерение</a>
    </div>
    </br>
    <div class="col-sm-6 controls">
        <a th:href="@{/v1/transformers/{transformerId}(transformerId=${transformerId})}" class="btn btn-info btn-sm active"
           role="button" aria-pressed="true">Назад</a>
    </div>
</div>
</body>
</html>